



* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	background: -webkit-linear-gradient(top, #CD332D, #6E0610);
	color: #fff;
}

#logo {
	display: block; 
	margin: 30px auto; 
	max-height: 40%;
	z-index: -1;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 100;
}



#begin {
	text-align: center;
	font-size: 2em;
	line-height: 2em;
}

#begin input {
	display: block;
	margin: 30px auto 0;
}

#checkin, #result, #begin {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30%;
	display: none;
	background-color: #6E0610;
	/*box-shadow: 3px 3px 5px 6px #000;*/
}

#result {
	font-size: 5em;
	line-height: 3em;
	text-align: center;
}


#checkin label {
	display: block;
	font-size: 1em;
	font-weight: 100;
	margin-left: 50px;
	margin-top: 50px;
}
#checkin input {
	margin: 10px 0 0 50px;
	width: 60%;
	padding: 0 5px;
	font-size: 5em;
	background-color: transparent;
	color: #fff;
	border: solid 1px #CD332D;
	font-weight: 100;
}

#v {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
}


h2 {
	position: absolute;
	bottom: 5px;
	left: 5px;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

h2 span {
	font-size: 0.5em;
}